.lord1{
    padding-top: 5%;
}
div>img{
    width: 40%;
    /* height: 500px; */
    display: inline-block;
}


.lord{
  
    margin-left: 42%;
    margin-top: -32%;
    
    width: 55%;
    height: 50%;
}
.button1 {
  
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
    padding-top: 1%;
    background-color:  #FFD700 ;
    border-radius: 5px;
    border: none;
    font-weight: bold;
   
  }
.btn{
    border: 1px solid black;
}
