
    body{
        background-image:url(/img/home_img.webp);
      }
    #div{
		height: 70px;
		background-color: rgb(255, 255, 255);
		opacity: 0.5;
	}
	ul{
		margin-left: 200px;
	}
	ul li{
		list-style: none;
		display: inline;
		line-height: 50px;
		margin-left: 30px;

	}
	ul li a{
		text-decoration: none;
		color:black;
		font-weight: bold;
		padding: 10px;

	}
	ul li a:hover{
		background-color: black;
		color:white;
		border-radius: 15px;
	}
